.recipe-results {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  margin: 2% 10%;
  border-color: blueviolet;
}
a {
  text-decoration: none;
  color: black;
}
.recipe {
  text-align: center;
  margin: 3%;
}

.welcome {
  text-align: center;
  margin: 0 auto;
}
