@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i,800|Raleway:500,800&display=swap');

.App {
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.2fr;
  margin: 0 auto;
  text-align: left;
  border-bottom: double gray;
}
.logo {
  font-family: 'Playfair Display', serif;
  padding-left: 4%;
}

h2,
h3,
h4,
p,
li {
  font-family: 'Raleway', sans-serif;
  font-size: 4vh;
}
h2,
h3 {
  color: rgb(21, 80, 29);
}
h3,
p,
li {
  font-weight: lighter;
}
h4.h2 {
  font-weight: medium;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

@media (max-width: 600px) {
  header {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }
}
