form {
  margin: 2% 0;
}
.search-form {
  display: flex;
  align-items: center;
}
.search-button {
  background-color: rgb(21, 80, 29);
  color: white;
  flex-grow: 0;
  padding: 3%;
  line-height: 1;
  margin-left: 2%;
  font-size: medium;
  text-transform: uppercase;
}

input {
  flex-grow: 2;
  width: 100%;
  font-size: medium;
  padding: 3%;
  border-radius: 3%;
  border-color: black;
}
