form {
  margin: 2% 0;
}
.search-form {
  display: flex;
  align-items: center;
}
.search-button {
  background-color: black;
  color: white;
  padding: 3%;
  line-height: 1;
  margin-left: 2%;
  font-size: medium;
}

input {
  flex-grow: 2;
  width: 100%;
  font-size: medium;
  padding: 3%;
}
